*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    transition: all 0.8s ease;
}

a {
    color: inherit; 
    text-decoration: none; 
    }
   

@font-face {
    font-family: minhaFonte2;
    src: url('../fonts/upheavtt.ttf');
}
@font-face {
    font-family: minhaFonte1;
    src: url('../fonts/Blank\ River.ttf');
}

:root{
    --texto: black;
    --fundo: white;
    --fundo-texto : rgb(212, 212, 212);
    --fonte : minhaFonte1;

}
.dark-mode:root{
    --texto: rgb(24, 206, 0);
    --fundo: black;
    --fundo-texto :rgb(26, 26, 26);
    --fonte : minhaFonte2;
}



body{
    width: 100vw;
    overflow-x: hidden;
    padding-bottom: 40px;
    background-color: var(--fundo);
    color: var(--texto);
    font-family: var(--fonte);
    display: flex;
    flex-direction: column;
    align-items: center;
}
::-webkit-scrollbar
{
    width: 10px;
    background-color: transparent
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: var(--texto);
    border-radius: 10px;
}


header{
height: 300px;
width: 70%;
display: flex;
align-items: center;
justify-content: center;

}



header h1{
    width: 50%;
    text-align: center;
    font-size: 5rem;
}

header ul{
    list-style: none;
    display: flex; 
    width: 50%;
    align-items: center;
    justify-content: space-evenly

}
header ul li{
    font-size: 1.5rem;
    transition: all 0.3s ease;
    &:hover{
        scale:1.1;
        cursor: pointer;
        text-shadow: 0 0 10px var(--texto)
    }
}


main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

.sobre-mim{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    width: 70%;
    border-radius: 30px;
    background-color:var(--fundo-texto)
}


.sobre-mim img{
    width: 290px;
    height: 300px;
    border-radius: 20px;
}

.sobre-mim p {
    width: 70%;
    padding: 30px;
    border-radius: 0px;
}

.habilidades
{   margin-top: 100px;
    padding: 20px;
    width: 70%;
    border-radius: 30px;
    background-color:var(--fundo-texto);
    text-align: center;
}

.icones
{   width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.icones img{
    width: 50px;
    height: 50px;
    margin: 0px 5px;
    transition: all 0.3s ease;
    &:hover{
        scale: 1.1;
    }
    
}


.projetos{
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.projeto{
    width: 70%;
    height: auto;
    margin-top: 40px;
    background-color:var(--fundo-texto);
    display: flex;
    text-align: center;
    border-radius: 30px;
    overflow: hidden;    
}

.infos_projeto{
    width: 50%;
    padding: 20px;
    text-align: center;
}

.img_projeto{

    width: 50%;
    height: 400px;

}
.foto_projeto{
    width: 100%;    
    height:100%;
    object-fit: cover;
}

.titulo_projeto{
    height: 30%;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
.descricao_projeto{
    height: 40%;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.btns_projeto{
    height: 30%;  
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content:space-around;
}
.btns_projeto button{
    padding: 10px;
    border: 2px solid var(--texto);
    font-family: var(--fonte);
    background-color: var(--fundo-texto);
    border-radius: 20px;
    color: var(--texto);
    transition: all 0.3s ease;
    &:hover{
        scale: 1.1;
        cursor: pointer;
        text-shadow: 0 0 10px var(--texto)
        
    }
    
}

.contato{
    margin-top: 100px;
    background-color:var(--fundo-texto);
    width: 70%;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
}
.contato h1, .sobre-mim h1{
    margin-bottom: 20px;
}
.contato i{
    font-size: 3em;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0px 5px;
    &:hover{
        scale: 1.1;
        text-shadow: 0 0 5px var(--texto)
    }
}